.header {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    color: var(--light);
}

.closeIcon {
    transform: rotate(45deg);
}

.collapsableHeader {
    margin-top: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    color: white;
}

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center ;

    input, input:focus {
        margin-top: 50px;
        display: block;
        width: 80vw;
        padding: 5px 15px;
        border: none;
        border-radius: 20px;
        outline: none;
        background: none;
        border-bottom: 3px solid var(--dark);
        color: var(--light);
        font-size: 16px;
    }

    input::placeholder {
        color: var(--light);
    }

    input[type=submit] {
        margin-top: 20px;
        padding: 8px 0;
        background-color: var(--light);
        color: var(--dark);
        font-size: 22px;
        display: grid;
    }

    input[type=submit]:hover {
        cursor: pointer;
    }

    .form-error {
        text-align: center;
        color: var(--sec);
        font-weight: bold;
        font-size: 16px;
    }
}