.chat {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.header {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    color: var(--light);
    border-bottom: var(--dark) 1px solid;

    h2 {
        margin-left: 10px;
    }

}

.messageList {
    padding: 0 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
}

.messageList::-webkit-scrollbar {
    display: none;
}

.message {
    background: #fff;
    width: fit-content;
    max-width: 80%;
    padding: 2px 5px;
    border-radius: 8px;
    margin-top: 4px;
    border-color: var(--sec);
    border-width: 3px
}

.outcomingMessage {
    @extend .message;
    margin-left: auto;
    border-bottom-right-radius: 0;
    border-bottom-style: solid;
    border-right-style: solid;
}

.incommingMessage {
    @extend .message;
    border-top-left-radius: 0;
    border-top-style: solid;
    border-left-style: solid;
}

.footer {
    height: 40px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

    input {
        flex-grow: 1;
        border-radius: 20px;
        font-size: 16px;
        border: none;
        outline: none;
        padding: 2px 10px;
        margin-right: 5px;
    }
}