@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.main {
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

h1 {
    font-family: 'Lobster', cursive;
    color: var(--sec);
    font-size: 48px;
}

form {
    margin: 25px;

    label, input {
        min-width: 30vw;
    }
    
    .formError {
        display: block;
        text-align: center;
        color: var(--sec);
        font-weight: bold;
        font-size: 16px;
    }
}
}