#root {
    background: rgb(238, 154, 204);
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

header {
    height: 50px;
    display: none;
}

main section {
    height: calc(100vh - 50px);
}

main section:first-of-type {
    height: 100vh;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    h1 {
        font-family: 'Lobster', cursive;
        color: #fee440;
        font-size: 76px;
        margin: 30px;
    }

    a {
        display: block;
        align-self: center;
        width: 25vw;    
        margin-top: 30px;
        padding: 10px 50px;
        border-radius: 50px;
        border: none;
        background-color: #9b5de5;
        font-size: 24px;
        color: #fee440;
    }
}