:root {
    --main: #3773E1;
    --sec: #fee440;
    --dark: #080C14;
    --light: #F2F2F2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a, a:active, a:hover {
    color: black;
    text-decoration: none;
}

#root {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--main);
}